body {
  font-family: 'Scheherazade New', serif;
  direction: rtl;
  background: #f9f9f9;
  color: #111;
  margin: 0;
  padding: 0;
}

header {
  background: #000;
  color: #fff;
  padding: 1em;
  text-align: center;
}

h1 {
  margin: 0;
}

#map, #archive {
  padding: 1em;
}

.entry {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 0;
}
